
.icon-facebook-1:before { content: '\e803'; } /* '' */
.icon-stumbleupon:before { content: '\e804'; } /* '' */
.icon-twitter-1:before { content: '\e805'; } /* '' */
.icon-gplus:before { content: '\e806'; } /* '' */
.icon-linkedin:before { content: '\e807'; } /* '' */